body {
  font-family: "Open Sans", sans-serif;
  background-image: url(/img/bck2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.menu {
  /* display: grid; */
  /* grid-template-rows: 100px 1fr 1fr 1fr; */
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;

  /* height: 70%; */
}
.menu_header {
  color: #711a1a;
  font-family: "Lobster", cursive;
  text-align: center;
}
.starters_header,
.pizzas_header,
.drinks_header {
  color: #711a1a;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #711a1a;
}

.starter_item,
.pizza_item,
.drinks_item {
  color: #711a1a;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.starter_item-description,
.pizza_item-description,
.drinks_item_description {
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: black;
}

.menu_header {
  grid-row: 1/2;
  font-size: 3em;
}
.starters {
  grid-row: 2/3;
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pizzas {
  grid-row: 3/4;
}
.hidden {
  display: none;
}
.modal-header {
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation-name: modalFromRight;
  animation-duration: 0.8s;
}
.modal img {
  width: 300px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 345%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: -8%;
  right: -3%;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.close-modal:hover {
  color: grey;
}

@keyframes modalFromRight {
  from {
    transform: translateX(-300%);
  }
}

@media (max-width: 768px) {
  .menu_header {
    font-size: 2.5em;
  }

  .starters_header,
  .pizzas_header,
  .drinks_header {
    font-size: 1.8em;
    margin-top: 20px;
  }

  .starter_item,
  .pizza_item,
  .drinks_item {
    font-size: 1.2em;
  }

  .starter_item-description,
  .pizza_item-description,
  .drinks_item_description {
    font-size: 1em;
  }
}

@media (max-width: 576px) {
  .menu_header {
    font-size: 2em;
    margin-top: 58px;
  }

  .starters_header,
  .pizzas_header,
  .drinks_header {
    font-size: 1.5em;
    margin-top: 15px;
  }

  .starter_item,
  .pizza_item,
  .drinks_item {
    font-size: 1.1em;
  }

  .starter_item-description,
  .pizza_item-description,
  .drinks_item_description {
    font-size: 0.9em;
  }
}
@media (max-width: 519px) {
  nav ul li a {
    font-size: 0.8em;
    padding: 6px;
  }
}
