body {
  background-image: url(/img/bck2.jpg);
  background-size: cover;

  background-size: cover; /* Ensures the background image covers the entire container */
  background-repeat: no-repeat;
  background-position: center;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  padding-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}




.menu {
  display: grid;
  grid-template-rows: 100px 1fr 1fr 1fr;
  text-align: center;

  height: 100%;
}
.menu_header {
  color: #711a1a;
  margin-top: 65px;
}
.starters_header,
.pizzas_header,
.drinks_header {
  color: #711a1a;
  font-size: 3em;
  font-weight: bold;
}
.starters_header {
  border-top: 5px black solid;
  padding-top: 50px;
  padding-bottom: 50px;
}
.starter_item,
.pizza_item,
.drinks_item {
  color: #711a1a;
  font-size: 1.5em;
  font-weight: bold;
}

.starter_item-description,
.pizza_item-description,
.drinks_item_description {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}
.price {
  text-decoration: none;
}

.menu_header {
  grid-row: 1/2;
  font-size: 3em;
}
.starters {
  grid-row: 2/3;
  display: grid;
  border-bottom: 5px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
}


.pizzas {
  border-bottom: 5px solid black;
  grid-row: 3/4;
}



/* @media (max-width: 500px) {
    .menu_header {
      font-size: 2.5em;
}
.starters_header,
  .pizzas_header,
  .drinks_header{
    font-size: 2em;
  }

} */
@media (max-width: 768px) {
  .menu_header {
    font-size: 2.5em;
  }

  .starters_header,
  .pizzas_header,
  .drinks_header {
    font-size: 1.8em;
    margin-top: 20px;
  }

  .starter_item,
  .pizza_item,
  .drinks_item {
    font-size: 1.2em;
  }

  .starter_item-description,
  .pizza_item-description,
  .drinks_item_description {
    font-size: 1em;
  }
}

@media (max-width: 576px) {
  .menu_header {
    font-size: 2em;
    margin-top: 58px;
  }

  .starters_header,
  .pizzas_header,
  .drinks_header {
    font-size: 1.5em;
    margin-top: 15px;
  }

  .starter_item,
  .pizza_item,
  .drinks_item {
    font-size: 1.1em;
  }

  .starter_item-description,
  .pizza_item-description,
  .drinks_item_description {
    font-size: 0.9em;
  }
}
@media (max-width: 519px) {
  nav ul li a {
    font-size: 0.8em;
    padding: 6px;
  }
}
