/* General styles */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url(/pizza-project/img/pizzaback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* header style */

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  padding-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* home page */

.hero {
  text-align: center;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
}
.hero h1 {
  font-size: 3em;
  color: #ff6347;
  margin-bottom: 20px;
  font-weight: bold;
  animation-name: fromTop;
  animation-duration: 1s;
}

@keyframes fromTop {
  from {
    transform: translateY(-300%);
  }
}

.intro {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}
.arrow-down {
  font-size: 1.5em;
}
.menuBtn {
  display: inline-block;
  background-color: #fff;
  color: tomato;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.menuBtn:hover {
  background-color: rgb(255, 99, 71);
  color: white;
  border-radius: 10px;
}

/* about page */

.about_body {
  background-image: url(/pizza-project/img/old1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.about {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
}
.about h1 {
  font-size: 2em;
  color: #ff6347;
  font-weight: bold;
  text-decoration: underline;
  animation-name: fromTop;
  animation-duration: 1s;
}
.about_us {
  font-size: 1.8em;
  /* color:  #444; */
  color:  #000000;
  font-family: Goudy Old Style; 
}


.since_img {
  height: 150px;
  border-radius: 50%;
}

/* contact page */

.contact {
  text-align: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.contact h1 {
  font-size: 2.5em;
  color: tomato;
  animation-name: fromTop;
  animation-duration: 1s;
}
.contact #text {
  margin-left: -25px;
}
.contact label {
  color: tomato;
  font-weight: bolder;
}
.contact input:hover,
.contact textarea:hover {
  border-color: tomato;
}
.contact form {
  height: 100%;
  padding: 20px;
  animation-name: fromTop;
  animation-duration: 1s;
}
.contact input,
.contact textarea {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: #fff;
}

.contact .btn {
  background-color: #ffffff;
  color: rgb(3, 171, 3);
}

.contact .btn:hover {
  background-color: rgb(3, 171, 3);
  color: white;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #555;
}

/* footer */

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logoBoxRight {
  height: 80px;
  position: fixed;
  /* position: absolute; */
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.logoBoxLeft {
  height: 80px;
  position: fixed;
  /* position: absolute; */
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.logoRight,
.logoLeft {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 5;
}
@keyframes rotate {
  from {
    transform: rotateZ(360deg);
  }
}

@media (max-height: 860px) {
  .about .about_us{
    font-size: 1.2em;
  }
  .about .since_img{
    height: 100px;
  }
  .logoBoxLeft {
    top: 70%;
    left: 30%;
  }
  .logoBoxRight {
    top: 70%;
    right: 70%;
  }
}
@media (max-height: 600px) {
  .hero {
    padding: 10px;
  }
  .hero h1 {
    font-size: 1.5rem;
  }

  .menuBtn {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .logoLeft,
  .logoRight {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 980px) {
  .logoBoxLeft {
    top: 60%;
    left: 20%;
  }

  .logoBoxRight {
    top: 60%;
    left: 80%;
  }

  .logoLeft,
  .logoRight {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 660px) {
  .contact h1 {
    font-size: 1.5em;
  }

  .logoBoxLeft {
    top: 65%;
    left: 15%;
  }

  .logoBoxRight {
    top: 65%;
    left: 85%;
  }

  .logoLeft,
  .logoRight {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 500px) {
  footer {
    font-size: 0.8em;
    padding: 0px;
    margin-top: 40px;
  }
  nav ul li a {
    font-size: 0.8em;
  }

  nav ul li {
    padding-left: 10px;
  }
  .about_us {
    font-size: 0.1em;
  }

  .hero h1 {
    font-size: 1.5em;
  }

  .intro {
    font-size: 1.2em;
  }

  .menuBtn {
    font-size: 0.8em;
  }
  .logoRight {
    height: 60px;
    width: 60px;
  }
  .logoLeft {
    height: 60px;
    width: 60px;
  }
  .logoBoxLeft {
    top: 55%;
    left: 15%;
  }
  .logoBoxRight {
    top: 55%;
    left: 85%;
  }
}
@media (max-width: 377px) {
  .contact label {
    font-size: 0.8em;
  }
  .logoBoxLeft {
    display: none;
  }
  .logoBoxRight {
    display: none;
  }
}
