/* General styles */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url(/img/bcg4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* header style */

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  padding-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* home page */

.hero {
  text-align: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
}
.hero h1 {
  font-size: 3em;
  color: #ff6347;
  margin-bottom: 20px;
  font-weight: bold;
}
.intro {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}
.arrow-down {
  font-size: 1.5em;
}
.menuBtn {
  display: inline-block;
  background-color: #fff;
  color: tomato;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.menuBtn:hover {
  background-color: #d2d2d2;
  border-radius: 10px;
}

/* about page */

.about {
  background: rgba(0, 0, 0, 0.6);
  margin: 30px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  padding-bottom: 30px;
}
.about h1 {
  font-size: 2em;
  color: tomato;
  text-decoration: underline;
}
.about p {
  font-size: 1.2em;
  color: #ddd;
}

/* contact page */

.contact {
  text-align: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  border-radius: 10px;
  height: 40%px;
  /* width: auto; */
}
.contact h1 {
  font-size: 2.5em;
  color: tomato;
}
.contact #text {
  margin-left: -25px;
}
.contact label {
  color: tomato;
  font-weight: bolder;
}
.contact input:hover,
.contact textarea:hover {
  border-color: tomato;
}
.contact form {
  height: 100%;
  padding: 20px;
}
.contact input,
.contact textarea {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: #fff;
}

.contact .btn {
  background-color: #ffffff;
  color: rgb(3, 171, 3);
}

.contact .btn:hover {
  background-color: rgb(3, 171, 3);
  color: white;
  cursor: pointer;
}

/* gallery page */

.gallery-container {
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.gallery h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: tomato;
  font-style: italic;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-item {
  background-color: #fff;
}
.gallery-item-mushroom,
.gallery-item-spicy {
  background-color: #fff;
}
.gallery-item-mushroom img,
.gallery-item-spicy img {
  width: 100%;
  height: auto;
  height: 193px;
}

.gallery a {
  color: tomato;
  text-decoration: none;
}
.gallery p:hover {
  background-color: #dadada;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #555;
}

/* footer */

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}



@media (max-width: 660px) {
  .contact h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  /* body {
    background-image: url(/img/bcg4.jpg);
    background-attachment: fixed;
  } */
  footer {
    font-size: 0.8em;
    padding: 0px;
    margin-top: 40px;
  }
  nav ul li a {
    font-size: 0.8em;
  }

  nav ul li {
    padding-left: 10px;
  }
  .about_us {
    font-size: 0.1em;
  }

  .hero h1 {
    font-size: 1em;
  }

  .intro {
    font-size: 0.8em;
  }

  .menuBtn {
    font-size: 0.8em;
  }
}
@media (max-width: 377px) {
  .contact label {
    font-size: 0.8em;
  }
}
